%h2 Watched Dirs

%a(href="#" e-click="show") cancel edit

%ul
  - dirs.each_with_index do |dir, index|
    %li
      = dir
      %a(href="#" e-click="remove_dir(#{index})") &times;


%a(href="#" e-click="add_dirs") add dirs
