%h2 Token

%a(href="#" e-click="show") cancel edit

%form(e-submit="save_token" )
  %p
    %input.val-token(type="text" placeholder="12jhg312…" value=token style="width:100%; font: 1em/1 sans-serif;")

  %input(type="submit" value="Save")
